<table class="table table-condensed">
    <tr>
        <th class="text-center" style="width:15px">#</th>
        <th x-translate>Название</th>
        <th x-translate>Ссылка</th>
        <th x-translate>Логотип</th>
        <th class="text-center" style="width:300px" x-translate>Операции</th>
    </tr>
    <tr ng-repeat="(id, site) in sites">
        <td style="vertical-align: middle;" class="text-center">{{id+1}}.</td>
        <td style="vertical-align: middle;">
           {{site.name}}
        </td>
        <td style="vertical-align: middle;">
           <i class="glyphicon glyphicon-globe"></i>&nbsp;
           {{site.url}}
        </td>
        <td>
          <img height="30px" width="50px" ng-if="site.setting.logo" ng-src="data:image/png;base64,{{site.setting.logo}}"/>
        </td>
        <td class="text-center">
            <a ui-sref="merchant.editSite({merchantId: merchantId, siteId: site.id})" class="btn btn-primary btn-xs" x-translate>Изменить</a>
            <a ui-sref="merchant.paySite({merchantId: merchantId, siteId: site.id})" class="btn btn-success btn-xs" x-translate>Платежные системы</a>
            <!--a ui-sref="merchant.statSite({merchantId: merchantId, siteId: id})" class="btn btn-warning btn-xs">Статистика</a-->
            <a class="btn btn-danger btn-xs" ng-click="remove(merchantId, site.id)" x-translate>Удалить</a>
        </td>
    </tr>
</table>