<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 ng-if="actionType == 'create'" class="box-title" x-translate>
                    Добавление пользователя
                </h3>
                <h3 ng-if="actionType == 'edit'" class="box-title">
                    <span x-translate>Изменение пользователя</span>
                    <strong>{{user.userName}}</strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="row" class="form-group">
                    <div class="col-xs-4" ng-if="actionType == 'create'">
                        <label for="login" x-translate>Логин</label>
                        <span ng-if="errors.userName">
                            <small class="text-danger pull-right">
                               <span data-toggle         = "tooltip"
                                     data-original-title = "{{errors.userName.join(', ')}}">
                                  [?]
                               </span>
                            </small>
                        </span>
                        <div ng-class="{'has-error': errors.userName, 'form-group': true}">
                            <input type        = "text"
                                   class       = "form-control"
                                   id          = "login"
                                   placeholder = "{{'Введите логин'|translate}}"
                                   ng-model    = "user.userName">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div>
                            <label for="login" x-translate>Фамилия</label>
                            <input type        = "text"
                                   class       = "form-control"
                                   id          = "lastName"
                                   placeholder = "{{'Введите фамилию'|translate}}"
                                   ng-model    = "user.lastName">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div>
                            <label for="login" x-translate>Имя</label>
                            <input type        = "text"
                                   class       = "form-control"
                                   id          = "firstName"
                                   placeholder = "{{'Введите имя'|translate}}"
                                   ng-model    = "user.firstName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div>
                            <br/>
                            <input type        = "checkbox"
                                   id          = "activity"
                                   ng-model    = "user.enabled">
                            <label for="activity" x-translate>Активность</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <hr/>
                </div>
                <div class="row" ng-repeat="role in roles">
                   <div class="col-xs-2" >
                      <b>{{role.roleEntry.names[0].value}}</b>
                   </div>
                    <div class="col-xs-2"  ng-repeat="privilege in role.privileges">
                        <div>
                            <input type      = "checkbox"
                                   ng-model  = "user.rolesModel[role.roleEntry.code][privilege.code]"
                                   ng-change = "toggleRolePrivilege(role, privilege)">
                            {{privilege.names[0].value}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="save()" x-translate>Сохранить</button>
                    <a ng-if="actionType == 'create'" ui-sref="main" class="btn btn-default" x-translate>Отмена</a>
                    <a ng-if="actionType == 'edit'" ui-sref="merchant.users({merchantId: merchantId})" class="btn btn-default" x-translate>Отмена</a>
                </div>
            </div>
        </div>
    </div>
</div>