<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 ng-if="actionType == 'create'" class="box-title" x-translate>Регистрация торговца</h3>
                <h3 ng-if="actionType == 'edit'" class="box-title" x-translate>Изменение торговца</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6">
                        <label for         = "name" x-translate>
                           Название торговца
                        </label>
                        <span ng-if="errors.name">
                            <small class="text-danger pull-right tooltip-wide">
                               <span data-toggle         = "tooltip"
                                     data-original-title = "{{errors.name.join(', ')}}">
                                  [?]
                               </span>
                            </small>
                        </span>
                        <div ng-class="{'has-error': errors.name, 'form-group': true}">
                            <input type        = "text"
                                   class       = "has-error form-control"
                                   id          = "name"
                                   placeholder = "{{'Введите название торговца'|translate}}"
                                   ng-model    = "merchant.name">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h3 x-translate>Основная информация</h3>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="name" x-translate>ФИО Директора</label>
                            <input type        = "text"
                                   class       = "form-control"
                                   id          = "directorName"
                                   placeholder = "{{'ФИО директора'|translate}}"
                                   ng-model    = "merchant.merchantInfo.directorName">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="name">Email</label>
                        <span ng-if="errors['merchantInfo.email']">
                            <small class="text-danger pull-right tooltip-wide">
                               <span data-toggle         = "tooltip"
                                     data-original-title = "{{errors['merchantInfo.email'].join(', ')}}">
                                  [?]
                               </span>
                            </small>
                        </span>
                        <div ng-class="{'has-error': errors['merchantInfo.email'], 'form-group': true}">
                            <input type        = "text"
                                   class       = "form-control"
                                   id          = "email"
                                   placeholder = "Email"
                                   ng-model    = "merchant.merchantInfo.email">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="name" x-translate>Телефон</label>
                        <span ng-if="errors['merchantInfo.phone']">
                            <small class="text-danger pull-right">
                               <span data-toggle         = "tooltip"
                                     data-original-title = "{{errors['merchantInfo.phone'].join(', ')}}">
                                  [?]
                               </span>
                            </small>
                        </span>
                        <div ng-class="{'has-error': errors['merchantInfo.phone'], 'form-group': true}">
                            <input type        = "text"
                                   class       = "form-control"
                                   id          = "phone"
                                   placeholder = "{{'Телефон'|translate}}"
                                   ng-model    = "merchant.merchantInfo.phone">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="name" x-translate>Адрес</label>
                            <input type="text" class="form-control" id="address" placeholder="Адрес" ng-model="merchant.merchantInfo.address">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <h3 x-translate>Аккаунт торговца</h3>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="name" x-translate>Checking Account</label>
                            <input type="text" class="form-control" id="checkingAccount" placeholder="{{'Checking Account'|translate}}" ng-model="merchant.merchantAccount.checkingAccount">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="name" x-translate>МФО</label>
                            <input type="text" class="form-control" id="mfo" placeholder="{{'МФО'|translate}}" ng-model="merchant.merchantAccount.mfo">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="name" x-translate>ОКПО</label>
                            <input type="text" class="form-control" id="okpo" placeholder="{{'ОКПО'|translate}}" ng-model="merchant.merchantAccount.okpo">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="name" x-translate>Имя банка</label>
                            <input type="text" class="form-control" id="bankName" placeholder="{{'Имя банка'|translate}}" ng-model="merchant.merchantAccount.bankName">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="currency" x-translate>Валюта</label>
                            <select class      = "form-control"
                                    id         = "currency"
                                    data-tags  = "true"
                                    ng-options = "v for v in currencies"
                                    ng-model   = "merchant.merchantAccount.currency"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-footer clearfix">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="save()" x-translate>Сохранить</button>
                    <a ng-if="actionType == 'create'" ui-sref="main" class="btn btn-default" x-translate>Отмена</a>
                    <a ng-if="actionType == 'edit'" ui-sref="merchant.sites({merchantId: merchantId})" class="btn btn-default" x-translate>Отмена</a>
                </div>
            </div>
        </div>
    </div>
</div>