<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li ng-class="{active:$state.is('merchant.users')}">
                    <a ui-sref="merchant.users({merchantId:merchantId})" x-translate>Пользователи</a>
                </li>
                <li ng-class="{active:$state.is('merchant.sites')}">
                    <a ui-sref="merchant.sites({merchantId:merchantId})" x-translate>Сайты</a>
                </li>
                <li class="pull-left header">
                    <i class="fa {{merchant.icon}}"></i>
                    {{merchant.name}}
                </li>
                <li class="dropdown pull-left">
                    <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-expanded="false">
                       <span x-translate>
                          Выполнить
                       </span>
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" ui-sref="merchant.addSite({merchantId:merchantId})" x-translate>Добавить сайт</a></li>
                        <li role="presentation"><a role="menuitem" ui-sref="merchant.usersAdd({merchantId:merchantId})"  x-translate>Добавить пользователя</a></li>
                        <li role="presentation"><a role="menuitem" ui-sref="merchantEdit({merchantId:merchantId})" x-translate>Изменить</a></li>
                        <li role="presentation"><a role="menuitem" ng-click="remove()" class="text-red cursor-pointer" x-translate>Удалить</a></li>
                    </ul>
                </li>
            </ul>

            <div class="tab-content no-padding" ui-view></div>

        </div>
    </div>
</div>